#general-fonts {
    font-family: Arial, sans-serif;
}

#general-wrapper {
    width: 800px;
    height: 634px;
    background-color: #F2F2F2;
}

#input-section {
    height: 155px;
    background-color: fuchsia;
}

#column-section {
    display: flex;
    justify-content: space-evenly;
    padding: 0 10px 0 10px;
}

.column {
    width: 200px;
    height: 440px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
}

.column-title-box {
    height: 50px;
    border-bottom: solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column-title {
    font-size: 30px;
    text-align: center;
}

.column-title:first-letter {
    text-transform: uppercase;
}